# Orchestration
# On retire le ==2.9.0 pour laisser pip choisir la version compatible avec Python 3.14
apache-airflow

# Base de données E-commerce
pymongo
dnspython

# Analyse et Manipulation de données
pandas
numpy
python-dateutil

# Tests automatisés et qualité
pytest
pygments
packaging
pluggy