# Orchestration (Airflow)
apache-airflow==2.9.0

# Base de données E-commerce
pymongo==4.6.3
dnspython==2.6.1

# Analyse et Manipulation de données
pandas==2.1.4
numpy==1.26.4
python-dateutil==2.9.0.post0

# Tests automatisés (Alignés sur les contraintes Airflow 2.9.0)
pytest==7.4.4
pygments==2.17.2
packaging==24.0
pluggy==1.4.0