# Orchestration
apache-airflow==2.9.0

# Base de données E-commerce
pymongo
dnspython

# Analyse et Manipulation de données
pandas
numpy
python-dateutil

# Tests automatisés et qualité
pytest
pygments
packaging
pluggy